html {
    font-size: 2vmin;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.3125rem;
    color: gray;
}

h1 {
    font-size: 3.125rem;
    font-weight: normal;
    color: white;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
    color: white;
}

a {
    color: aquamarine;
    font-size: 1rem;
}

video {
    width: 46%;
    max-width: 400px;
    height: auto;
    margin-top: 2%;
}

.image-container {
    width: 96%;
    overflow: hidden;
    margin: auto;
}

#campsite {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#phone-icon {
    width: 10%;
    max-width: 64px;
    margin-top: 1%;
}

footer {
    text-align: right;
}

@media only screen and (max-width: 568px) {
    
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3rem;
    }

    a {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }

    video {
        width: 96%;
    }

    #phone-icon {
        margin-top: 2%;
    }
}